In [ ]:
# Raw strings
print('c:\newFolder\test') # \n = New Line   , \t = Tab Space

print('rc:\newFolder\test')

c:
ewFolder	est
rc:
ewFolder	est

In [ ]:
# TASK

print('Temperature : \n\n\tKuala Lumpur : 27 degrees \n\tNew Delhi    : 16 degrees')

print('''
Temperature:

  Kuala Lumpur : 27 degrees
  New Delhi    : 16 degrees
''')

Temperature :

	Kuala Lumpur : 27 degrees
	New Delhi    : 16 degrees

Temperature:

  Kuala Lumpur : 27 degrees
  New Delhi    : 16 degrees

In [ ]:
# String Concatenation

name1 = 'Josh'
name2 = 'Turner'
work = 'Python'
price = 1050

# Welcome Josh Tuner to the World of Python

print('Welcome '+name1+' '+name2+' to the World of '+work+'. Fees will be '+str(price))

# In string concatenation this + operator require left hand side value and right hand side value to be of STRING

print('Welcome',name1,name2,'to the world of',work,'.The fees will be',price)

Welcome Josh Turner to the World of Python. Fees will be 1050
Welcome Josh Turner to the world of Python .The fees will be 1050

In [ ]:
# STRING Formatting
# str.format()

# 1. default_order

default_order = "{} {} {} and {}". format('What','is','dancing','singing?')
print(default_order)

# 2. positional_order

positional_order = "{2} {0} {1}". format('love','eating','I')
print(positional_order)

# 3. keyword_order

keyword_order = "{o} {t}". format(o='Playing',t='golf')
print(keyword_order)

What is dancing and singing?
I love eating
Playing golf

In [ ]:
# Type Conversion and Type Casting (same name)

# Implicit Type Casting

int_value = 23
float_value = 45.22

total = int_value + float_value

print(total)
# Python always convert smaller dataTypes to larger dataTypes

68.22

In [ ]:
# Explicit Type Conversion

int_value = 38
str_value = '41'

total = int_value + int(str_value)
print(total)

79

In [ ]:
# Taking User Input
# input = Help you to take User Input

name = input('Enter Your Name: ')
print('Welcome',name)

Enter Your Name: Taylor
Welcome Taylor

In [ ]:
number1 = int(input('Enter First Value:'))
number2 = int(input('Enter Second Value:'))
add = number1 + number2
print(type(number1), type(number2))
print('Result:',add)

Enter First Value:23
Enter Second Value:21
<class 'int'> <class 'int'>
Result: 44