In [ ]:
# SINGLE LINE COMMENTS
# COMMENT --> provides meaningful information about our code
# will not appear after we print it out (Output)

'''
MULTI
LINE
COMMENTS
'''
#for multi line comments quotes : make sure theres print function after the multi line comment ,or else, its going to print an output

# to Enable line number in code cell : CTRL + M + L (CTRL & M & L) (CTRL + M release then, L)
# CTRL + M --> Mode
# L --> Line Number

'\nMULTI\nLINE\nCOMMENTS\n'

In [ ]:
# print() function
# used to print out the information

print('Hello World')
print("Hello World")
# can use single or double quotes --> no difference

# for numbers no need to put quotes
print(10) #no quotes

Hello World
Hello World
10

In [ ]:
# end = '\n' -->  \n  --> New Line
#\t --> Tab space

print('Hello World1')
print('Hello World1')

print('Hello World2',end='\n')
print('Hello World2')

print('Hello World3',end='\t')
print('Hello World3')

# end = , automatically insert \n after last character

Hello World1
Hello World1
Hello World2
Hello World2
Hello World3	Hello World3

In [ ]:
# sep = ' '
# used to separate the values using whitespace by default
print('FirstValue','SecondValue','ThirdValue')
print('FirstValue','SecondValue','ThirdValue',sep=' ') # the original format of Line 3
print('FirstValue','SecondValue','ThirdValue',sep='@')
print('FirstValue','SecondValue','ThirdValue',sep=':)')

FirstValue SecondValue ThirdValue
FirstValue SecondValue ThirdValue
FirstValue@SecondValue@ThirdValue
FirstValue:)SecondValue:)ThirdValue

In [ ]:
# using Python as a numbers
print(10+2)
print(89-9)
print(3*5)
# in Python Division operator always return value in float
print(12/2)
# // Floor Division always return value in Numeric
print(12//2)
# Exponential operator **
print(10**2) # 10 raise to the power of 2
print(78**78)
# Modulo operator %
print(12%5) # used to give remainder

12
80
15
6.0
6
100
3831589812313461262138726500006414268147534037893115512325908939170687185145438579006950082195309705885134607990418665607337632973770507236843454464
2

In [ ]:
# VARIABLES
# Syntax : variabe_name = value

num1 = 10
num2 = 20
print(num1 + num2)

'''
Rules for variables name:
1. cannot start with numbers
2. cannot use whitespace (replace with underscore)
3. case-sensitive
4. avoid using Python Reserved keywords (int,str,list,print,etc)
'''

variable1 = 'Kelvin '
variable2 = 'Yan'
print(variable1 + variable2)

30
Kelvin Yan

In [ ]:
# DATA TYPES in Python
# Python uses Dynamic typing
# no need for declaring / specifying dataType before a variable --> unlike C++, Java
# depending on the Right-hand side value ( a = 123)

# int dataTYPE
# used to hold numeric values
intValue = 10
print(intValue)

# type() function --> to determine the dataTYPE of a variable / checking
print(type(intValue))

# float dataTYPE
# used to hold decimal values
floatValue = 90.213
print(type(floatValue))
print(floatValue,type(floatValue))

# str dataTYPE --> String
strValue = "Kelvin Yan"
print(strValue,type(strValue))

# boolean dataTYPE
# used to hold either True or False
boolValue = True
print(boolValue,type(boolValue))

10
<class 'int'>
<class 'float'>
90.213 <class 'float'>
Kelvin Yan <class 'str'>
True <class 'bool'>

In [ ]:
"""
hello
this is my multi line comment
using double quotes
"""

a = 1000
print(a)

1000

In [ ]:
'''
hello
this is my multi line comment
using single quotes
'''
a = 1000
print(a)

1000