In [ ]:
Code Cell
# space for coding

In [ ]:
# for Comments in Python
# used to provide important and meaningful info about our code
'''
Multi Line
Comments
'''
# To enable Line Number in Code Cell, CTRL + M and L
# CTRL + M --> mode   L --> Line Number

In [ ]:
# First Python Hello World Program
# print() function
# used to print on a stream, Output

print("Hello World")
print('Hello World')
print ('Hello World')
print(10)
# Quotes only for String

Hello World
Hello World
Hello World
10

In [ ]:
# Default Parameters of Print Function
# functionName? : will give docstring of that function
# help(functionName)

print('First Line',end='\t')  # \t --> Tab space  \n --> New Line
print('Second Line')

First Line	Second Line

In [ ]:
print('FirstValue','SecondValue','ThirdValue')
print('FirstValue','SecondValue','ThirdValue',sep=' ')
print('FirstValue','SecondValue','ThirdValue',sep='-->')
print('FirstValue','SecondValue','ThirdValue',sep='@@@')

FirstValue SecondValue ThirdValue
FirstValue SecondValue ThirdValue
FirstValue-->SecondValue-->ThirdValue
FirstValue@@@SecondValue@@@ThirdValue

In [ ]:
# Python Numbers
# Python as a calculator

print(3+3)
print(10-5)
print(10*8)
print(72/2) # in Python, Division Operator always return value in Float/decimal
# Floor Division --> // --> always return an Integer value
print(72//2)
# Exponential Operator --> **
print(2**10) # 2 raise to the power of 10
print(78**78)
# Modulo Operator --> % --> used to give a remainder
print(17%2)

6
5
80
36.0
36
1024
3831589812313461262138726500006414268147534037893115512325908939170687185145438579006950082195309705885134607990418665607337632973770507236843454464
1

In [ ]:
# Operator Precedence
# which Operator will execute first --> BoDMAS
'''
() Parentheses
** Exponent
* / // %
+-
'''
print(50-5*2)
print((50-5)*2)

# Associativity --> operators at the same level of Precedence will be execute from Left to Right
print(4*7%3)

# Right to Left Associativity --> for Exponential Operators
print(4**2**2)

40
90
1
256

In [ ]:
# VARIABLES
num1 = 20
num2 = 30

print(num1+num2)

50

In [ ]:
# Rules for name of Variables

# CANT start with Numbers
123 = 40
# CANT use space instead use underscore
var name = 20
var_name = 20
# case sensitive
ABC = 10
abc = 20
Abc = 30
# AVOID using reserved keywords in Python --> print, str, int, list, tuple, etc
list = 40
str = 50

print1=10
print(print1)

SyntaxError: ignored

In [ ]:
# DATA TYPES in Python
int var_name = 10 --> C++, Java
var_name = 10 --> Python # no need to specify because it uses Dynamic Typing
# Dynamic Typing allows us to reassign variable to different Data Types

SyntaxError: ignored

In [ ]:
# int Data Type

intValue = 10
print(intValue)

# type() --> TYPE FUNCTION --> used to check the DataType of variable
type(intValue)

# float Data Type
floatValue = 90.321
print(type(floatValue), floatValue)

# string Data Type
strValue = 'Python'
print(type(strValue), strValue)

# boolean Data Type --> true / false
boolType = True
print(type(boolType))

10
<class 'float'> 90.321
<class 'str'> Python
<class 'bool'>

In [ ]:
# STRINGS IN Python
# sequence of a characters
str1="String"
str2='String'
print(type(str1), type(str2))

<class 'str'> <class 'str'>

In [ ]:
# Indexing in Strings
course = "PythonProgramming"
# P  y  t  h  o  n  P  r  o  g  r  a  m  m  i  n  g
# 0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16

# indexing --> allows us to grab a single characters from a String
# indexing uses [] notation

print(course[6])
print(course[15])

P
n

In [ ]:
# Slicing in Strings
course = "PythonProgramming"
# P  y  t  h  o  n  P  r  o  g  r  a  m  m  i  n  g
# 0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16

# slicing --> allows us to grab a portion or sub portion of a String
# Syntax : varname[startIndex:stopIndex]
# startIndex : numeric index from where slicing starts [INCLUSIVE]
# stopIndex : numeric index from where slicing ends [EXCLUSIVE]
print(course[3:15]) # 15 not going to be printed out as it is the EXCLUSIVE character / last character
print(course[6:13])
print(course[12:16])
print(course[:6]) # blank space at the Start equals to 0 / start of the String
print(course[6:]) # blank space at the End equals to 16 / end of the String

# Negative Slicing
course = "PythonProgramming"
# P  y  t  h  o  n  P  r  o  g  r  a  m  m  i  n  g
#                                 -6 -5 -4 -3 -2 -1
print(course[-1])

# Step Count
# Syntax : varname[startIndex:stopIndex:stepCount]
print(course[::2])
# P  y  t  h  o  n  P  r  o  g  r  a  m  m  i  n  g
# x     x     x     x     x     x     x     x     x  ,stepCount --> Intervals
# start & end is included because startIndex & stopIndex is not specified
print(course[::3])

# Reverse of a String
print(course[::-1])

honProgrammi
Program
mmin
Python
Programming
g
PtoPormig
PhPgmn
gnimmargorPnohtyP

In [ ]:
# Escape Character Sequences
# to prevent confusion from Python interpreter
# 'I didn't do that'  ,confusions because of many single quotes

print('I didn\'t do that') # \ before the extra quote
print("Welcome to \"Kaki\" Code") # \ before the extra double quotes

I didn't do that
Welcome to "Kaki" Code

In [ ]:
# Raw strings
print('c:\newfolder\test') #\n --> New Line  \t --> tab Space

print(r'c:\newfolder\test')

print('Temperature:\n \t Kuala Lumpur : 27 degrees \n \t New Delhi : 16 degrees ')
print('Temperature:\n Kuala Lumpur : 27 degrees \n New Delhi : 16 degrees')
print('''
Temperature :
    Kuala Lumpur : 27 degrees
    New Delhi    : 16 degrees
''')
# in Python, Strings can be declared using triple quotes to preserve the text formatting

c:
ewfolder	est
c:\newfolder\test
Temperature:
 	 Kuala Lumpur : 27 degrees
 	 New Delhi : 16 degrees
Temperature:
 Kuala Lumpur : 27 degrees
 New Delhi : 16 degrees

Temperature :
    Kuala Lumpur : 27 degrees
    New Delhi    : 16 degrees

In [ ]:
# String Concatenation
# combining two Strings together

fname = 'Yash'
lname = 'Sharma'
course = 'Python'
fees = 1500 # Line 17

# Welcome Yash Sharma To The World of Python

print('Welcome '+fname+' '+lname+' To The World of '+course)

#in String Concatenation this + operator requires both left and right hand side value to be of String

# Welcome Yash Sharma To The World of Python fees will be 1500

print('Welcome '+fname+' '+lname+' To The World of '+course+' fees will be '+str(fees))
# as + operator requires left & right to be String, Integer value wil give error
# str(fees) --> String Casting --> changing int to str --> Type Conversion

print('Welcome',fname,lname,'To The World of',course,'fees will be',fees)  # simpler ways using , for spaces & + operator

Welcome Yash Sharma To The World of Python
Welcome Yash Sharma To The World of Python fees will be 1500
Welcome Yash Sharma To The World of Python fees will be 1500

In [ ]:
# String Formatting
# allows multiple substitutions and value formatting
# Synatx : {}.format(value)
# str.format()

# 1. default_order
default_order = "{} {} {} {}".format('Python','Is','Very','Easy')
print(default_order)

# 2. positional_order
positional_order ="{2} {0} {1}".format("is","easy","Python")
print(positional_order)

# 3. keyword_order
keyword_order = "{m} {t}".format(m='Malaysia',t='TwinTower')
print(keyword_order)
keyword_order = "{m} has {t}".format(m='Malaysia',t='TwinTower')
print(keyword_order)

Python Is Very Easy
Python is easy
Malaysia TwinTower
Malaysia has TwinTower

In [ ]:
# Type Conversion
# Type Casting
# process of converting the value of one data type to another data type

# Implicit Type Casting
# converts data type without the need of user --> converted data type is not specified
int_value = 10
float_value = 67.43
res = int_value + float_value
print(res)
# Python always converts smaller dataType to larger dataType --> converted data type not specified

# Explicit Type Casting --> commonly called type casting
# converts data type to required data type --> data type converted is specified
# Syntax : <required_datatype>(expression)
int_val = 123
str_val = "456"
res = int_val + int(str_val)
print(res)

77.43
579

In [ ]:
# Taking User Input
# input() --> help to take user input
name = input('Enter your name : ')
print('Welcome',name)

Enter your name : Kelvin
Welcome Kelvin

In [ ]:
num1 = input('Enter first value : ')
num2 = input('Enter second value : ')
add = num1+num2
print('Result :',add)  #every input data is going to be treated as String

num1 = int(input('Enter first value : '))   #type casting int
num2 = int(input('Enter second value : '))
add = num1 + num2
print('Result :',add)

num1 = float(input('First value :'))    #type casting float
num2 = float(input('Second value :'))
add = num1 + num2
print('Result : ',add)

Enter first value : 4
Enter second value : sec
Result : 4sec
Enter first value : 5
Enter second value : 4
Result : 9
First value :5
Second value :5
Result :  10.0

In [ ]:
# Operators
# Assignment Operators
# assign values to variables
# =

mynum = 89
print(mynum)

89

In [ ]:
x = 10
x += 10  # x = x + 10
print(x)

20

In [ ]:
# Comparison Operators

x = 12
y = 10

print("(x==y) :",x==y)
print("(x!=y) :",x!=y)
print("(x>y) :",x>y)
print("(x<y) :",x<y)

(x==y) : False
(x!=y) : True
(x>y) : True
(x<y) : False

In [ ]:
age = 18
print('Eligible For Voting : ',(age>=18))

Eligible For Voting :  True

In [ ]:
# Logical Operators
# AND

a = 100
b = 200

print("a=100 and b=200",(a==100 and b==200))
# AND operator return TRUE when both the condition satisfies else it return FALSE
print((a==100 and b==300))

a=100 and b=200 True
False

In [ ]:
# OR
# will return TRUE if any of the condition is TRUE
# will return FALSE if both the conditions are FALSE

a = 121
b = 800

print((a==121 or b==800))
print((a==121 or b==900))
print((a==131 or b==600))

True
True
False

In [ ]:
# NOT
# used to reverse the result
# if the output is TRUE, NOT will make it FALSE
# if the output is FALSE, NOT will make it TRUE

a = 10
b = 20

print(not(a==10 and b==20))

False

In [ ]:
# Membership Operators
# in        not in

course = "Data Science with Python"
print(course)

#in --> returns TRUE if value is present in sequence

print('D' in course)
print('Python' in course)
print('Machine' in course)

# not in --> returns TRUE if value is not present in sequence
print('Machine' not in course)

Data Science with Python
True
True
False
True