I didn't do that
Welcome to "Kaki" Code

In [ ]:
# Raw strings
print('c:\newfolder\test') #\n --> New Line  \t --> tab Space

print(r'c:\newfolder\test')

print('Temperature:\n \t Kuala Lumpur : 27 degrees \n \t New Delhi : 16 degrees ')
print('Temperature:\n Kuala Lumpur : 27 degrees \n New Delhi : 16 degrees')
print('''
Temperature :
    Kuala Lumpur : 27 degrees
    New Delhi    : 16 degrees
''')
# in Python, Strings can be declared using triple quotes to preserve the text formatting

c:
ewfolder	est
c:\newfolder\test
Temperature:
 	 Kuala Lumpur : 27 degrees
 	 New Delhi : 16 degrees
Temperature:
 Kuala Lumpur : 27 degrees
 New Delhi : 16 degrees

Temperature :
    Kuala Lumpur : 27 degrees
    New Delhi    : 16 degrees

In [ ]:
# String Concatenation
# combining two Strings together

fname = 'Yash'
lname = 'Sharma'
course = 'Python'
fees = 1500 # Line 17

# Welcome Yash Sharma To The World of Python

print('Welcome '+fname+' '+lname+' To The World of '+course)

#in String Concatenation this + operator requires both left and right hand side value to be of String

# Welcome Yash Sharma To The World of Python fees will be 1500

print('Welcome '+fname+' '+lname+' To The World of '+course+' fees will be '+str(fees))
# as + operator requires left & right to be String, Integer value wil give error
# str(fees) --> String Casting --> changing int to str --> Type Conversion

print('Welcome',fname,lname,'To The World of',course,'fees will be',fees)  # simpler ways using , for spaces & + operator

Welcome Yash Sharma To The World of Python
Welcome Yash Sharma To The World of Python fees will be 1500
Welcome Yash Sharma To The World of Python fees will be 1500

In [ ]:
# STRING Formatting
# str.format()

# 1. default_order
default_order = "{} {} {} {}".format('Python','is','very','easy')
print(default_order)

# 2. positional_order
positional_order = "{2} {0} {1}".format("is","easy","Python")
print(positional_order)

# 3. keyword_order
keyword_order = "{m} has {t}".format(m='Malaysia',t='TwinTower')
print(keyword_order)

Python is very easy.
Python is easy
Malaysia has TwinTower

In [ ]:
# Type Conversion
# Type Casting
# process of converting the value of one data type to another data type

# Implicit Type Casting
# converts data type without the need of user --> converted data type is not specified
int_value = 10
float_value = 67.43
res = int_value + float_value
print(res)
# Python always converts smaller dataType to larger dataType --> converted data type not specified

# Explicit Type Casting --> commonly called type casting
# converts data type to required data type --> data type converted is specified
# Syntax : <required_datatype>(expression)
int_val = 123
str_val = "456"
res = int_val + int(str_val)
print(res)

77.43
579

In [ ]:
# Taking User Input
# input() --> help to take user input
name = input('Enter your name : ')
print('Welcome',name)

Enter your name : Kelvin
Welcome Kelvin

In [ ]:
num1 = input('Enter first value : ')
num2 = input('Enter second value : ')
add = num1+num2
print('Result :',add)  #every input data is going to be treated as String

num1 = int(input('Enter first value : '))   #type casting int
num2 = int(input('Enter second value : '))
add = num1 + num2
print('Result :',add)

num1 = float(input('First value :'))    #type casting float
num2 = float(input('Second value :'))
add = num1 + num2
print('Result : ',add)

Enter first value : 3
Enter second value : 4
Result : 34
Enter first value : 4
Enter second value : 2
Result : 6
First value :2
Second value :5
Result :  7.0