In [ ]:
# FOR Loops
# to iterate over a sequence --> traversal
# every character in a string or items in a list
# Syntax :

for everyChar in 'Python':
  print(everyChar)

P
y
t
h
o
n

In [ ]:
for item in [10,20,30,40,50]:
  print(item)

10
20
30
40
50

In [ ]:
price_list = [120,455,670,320,715]
for everyPrice in price_list:
  print(everyPrice + 5)    # can directly perform operations to all the items automatically (repition)

125
460
675
325
720

In [ ]:
# range() function
# important in for loop
# generate a sewuence of integer values (only!)

# 1. range(x)
# to generate a sequence of integer values starting from 0
# until x-1
print(range(10)
print(list(range(10)))

SyntaxError: ignored

In [ ]:
for numbers in range(1,11):   # 1 2 3 4 5 6 7 8 9 10
 print(numbers,'Kelvin')

1 Kelvin
2 Kelvin
3 Kelvin
4 Kelvin
5 Kelvin
6 Kelvin
7 Kelvin
8 Kelvin
9 Kelvin
10 Kelvin

In [ ]:
num = int(input('Enter a number : '))
for i in range(1,11):
  print(num,'x',i,'=',num*i)

Enter a number : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
# WHILE loop
# when we dont know how many times to iterate
# put conditions

i = 1
while i<=10:
  print(i)
  i = i + 1  # must + 1 or else it will forever be true (endless loop)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 3
i = 1
while (i<=10):
  print(num,'x',i,'=',num*i)
  i = i + 1  # must update it so that it increases and reach 10,else will run forever as alwys True

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
total = int(input('How many times :'))
i=1
while i<=total:
  marks = int(input('Enter marks :'))
  i = i + 1

How many times :3
Enter marks :45
Enter marks :34
Enter marks :23