In [ ]:
# list    tuple    set   dictionary

# List
# ordered collection of elements
# allow us to have duplicate elements
# mutable --> modifiable
# uses square bracket notation []

myList = [10,20,30,40,50]
print(myList)
print(type(myList))

[10, 20, 30, 40, 50]
<class 'list'>

In [ ]:
print(myList[0])   # indexing
print(myList[1:4])  # slicing
print(myList[1:4:2])
print(myList[-1])

10
[20, 30, 40]
[20, 40]
50

In [ ]:
# List is mutable

myList = [10,20,30,40,50,60]
print(myList)

myList[1] = 200
print(myList)

[10, 20, 30, 40, 50, 60]
[10, 200, 30, 40, 50, 60]

In [ ]:
# Iteration over List

myList = [10,20,30,40,50]

for everyItem in myList:
  print(everyItem)

10
20
30
40
50

In [ ]:
# len    range

# len --> used to return number of elements in List

print(len(myList))

5

In [ ]:
for index in range(len(myList)):
  print('Index',index,':',myList[index])

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50

In [ ]:
# InBuilt Methods of List

myList = [10,20,30,40,50]
print(myList)

# 1. append() --> used to add an Item at the end of our List
myList.append(60)
print(myList)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]

In [ ]:
# 2. insert(index,value)  -->  used to add an Item at specific position
myList.insert(1,100)
print(myList)

[10, 100, 20, 30, 40, 50, 60]

In [ ]:
# 3. pop(index)  -->  used to delete an Item from a specific position
myList.pop(1)
print(myList)

[10, 20, 30, 40, 50, 60]

In [ ]:
# 4. pop()  --> if no index number given, it will delete the last element
myList.pop()
print(myList)

[10, 20, 30, 40, 50]

In [ ]:
# 5. remove  --> use to remove a given value from a List (when the index is unknown)
myList.remove(40)
print(myList)

[10, 20, 30, 50]

In [ ]:
# 6. reverse()  -->  used to print our List in reverse order
myList.reverse()
print(myList)

[50, 30, 20, 10]

In [ ]:
# sum() --> calculates the sum of all elements in the List
print(sum(myList))

110

In [ ]:
# Tuple
# ordered collection of elements
# immutable  --> cant change
# uses parentheses ()

myTuple = (10,20,30,40,50)
print(myTuple)
print(type(myTuple))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [ ]:
myTuple = (10,20,30,40,'Bean',90.21)
print(myTuple)    # format is kept

(10, 20, 30, 40, 'Bean', 90.21)

In [ ]:
# can do indexing,slicing,loop

# Empty Tuple     #iv question
myTuple = ()
print(myTuple)
print(type(myTuple))

# Empty List
myList = []
print(myList)
print(type(myList))

()
<class 'tuple'>
[]
<class 'list'>

In [ ]:
# if nothing is used, automatically becomes Tuple
myVar = 10,20,'Kelvin',90.21
print(type(myVar))

<class 'tuple'>

In [ ]:
oneElement = (10,)
print(type(oneElement))

<class 'tuple'>

In [ ]:
# Tuple is immutable

myTuple = (10,20,30,40,50)
print(myTuple)

myTuple[1] = 200
print(myTuple)    # will return error because unlike List,Tuple cant be updated

In [ ]:
# Tuple is used to save sensitive information
# because once it is declared,it cant be updated and changed

# List is used so modifications can be done

In [ ]:
# Functions of Tuple

myTuple = (10,20,30,40,50,10,10,10,10,60,70,80,90,10,10,20)
# count(value)  -->  used to count the occurence of given value
print(myTuple.count(10))
# len
print(len(myTuple))
# max min
print(max(myTuple))
print(min(myTuple))
# membership operator
print(10 in myTuple)

7
16
90
10
True

In [ ]:
# Set
# unordered collection of elements
# not fixed
# does not allow duplicate values
# eg. Chicago Data Crime
# uses {} calibraces

mySet = {10,20,30,40,10,20,50,60,30,50,70,80,10,20,30}
print(mySet)  # no duplicate values

# empty Set

emptySet = {}
print(type(emptySet))   # because Dictionary also use {}

emptySet = set()
print(type(emptySet

{70, 40, 10, 80, 50, 20, 60, 30}
<class 'dict'>
<class 'set'>

In [ ]:
# How to know the unique count in List
myList = [1,2,3,4,5,6,7,8,9,1,2,3,4,5,10,11,17,12,31,5,6]
print(len(myList))
print(len(set(myList)))

21
14

In [ ]:

# myList = [10,20,30,40,10,20,30,50,60,40,20]
# write a program which will return the count of unique values
# 6

# Hint : use for Loop
# empty list --> append()

myList = [10,20,30,40,10,20,30,50,60,40,20]
unique_list = []
for num in myList:
  if num not in unique_list:
    unique_list.append(num)

print(unique_list)
print('No. of unique element: ',len(unique_list))

In [ ]:
mySet = {10,20,30,40,10,20,30,50,60,40,20}
print(mySet)

In [ ]:
m= [] = 0lements in mylist:
    count = count +

In [ ]:
myList = [10,20,30,40,10,20,30,50,60,40,20]
print(len(set(myList)))

In [ ]:
# Empty Set
mySet = {}
print(type(mySet))

In [ ]:
t
# uses {} notation

# Create a Dictionary
ame':'Ke:'male'}o)info))